@import "tailwindcss";

:root {
  --background: #f7f7f7;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

body {
  background: white;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededd;
  }
}

@theme {
  --color-brand-green: #2bd97c;
  --color-brand-footer: #f1f6f4;
  --color-brand-darkteal: #032b41;
  --color-brand-blue: #0365f2;
  --color-brand-ltgreen: #f1f6f4;
  --color-brand-icons: #032b41;
  --color-brand-gray: #6b757b;
  --color-brand-yellow: #fff3d7;
  --color-brand-yellow2: #fbefd6;
  --color-brand-Review: #394547;
  --color-brand-links: #394547;
  --color-brand-input: #394547;
  --color-brand-ltBlue: #d7e9ff;
  --color-brand-smoke: #3a4649;
  --color-brand-guest: #3a579d;
  --color-brand-google: #4285f4;
  --color-brand-ltgray: #bac8ce;
  --color-brand-passAcct: #116be9;
  --color-brand-sidebar: #f7faf9;
  --color-brand-hover: #e4ecec;
  --color-brand-searchgray: #e1e7ea;
  --color-brand-ltpink: #FFE7EA;
  --color-brand-dark: #042330;
}

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}